---
layout: default
---

<a href="{{ site.baseurl }}/play" target="_blank">
  <div class="rgba-mask-black video-container">
    {% include image.html name="animation.mp4" isroot="true" class="rgba-mask" %}
    <div class="centered">
      <div class="cta-play">Click to play!</div>
    </div>
  </div>
</a>

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
  
{% include lower-feed-ad.html %}

<!-- Pagination -->
<div class="bottompagination">

  <div class="navigation" role="navigation">

    {% include pagination.html %}
  </div>
</div>